---

---

<footer class="blur">
  <small>Copyright &copy; <span id="copyrightYear"></span> Desgn</small>
</footer>

<script>
  document.querySelector('#copyrightYear').textContent = new Date().getFullYear().toString();
</script>